# SALES PREDICTION

1. Sales prediction involves forcasting the amount of a product that customers will purchase, taking into account vairous factors such as advertising platform selection.

2. In bussiness that offer production or services,the role of a data scientist is crucial for prediction future sales. They utilize machine learning techniques in python to analyze and interpret data, allowing them to make informed decisions regarding advertising coasts. By leveraging these predictions, businesses can optimize their advertising strategies and maximize sales potential. Let's embark on the journey od sales prediction using machine learning in python.

In [1]:
#importing libraries 

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Loading the dataset 

df=pd.read_csv('advertising.csv')
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [4]:
df.shape

(200, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [6]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [7]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [8]:
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [14]:
X=df.drop(['Sales'],axis=1)
Y=df['Sales']

In [15]:
X

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [16]:
Y

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [17]:
# Spliting the training data and test data

X_train, X_test, Y_train, Y_test =train_test_split(X,Y, test_size=0.2, random_state=2)

In [18]:
print(X.shape,X_train.shape,X_test.shape)

(200, 3) (160, 3) (40, 3)

In [19]:
# model Training 

model=LinearRegression()

In [20]:
model.fit(X_train,Y_train)

LinearRegression()

In [21]:
print('intercept:=b0', model.intercept_)
print('slope:=b1 & b2', model.coef_)

intercept:=b0 4.4998313692564835
slope:=b1 & b2 [0.05536768 0.102883   0.00233839]

In [22]:
X_train_prediction=model.predict(X_train)

In [23]:
print(X_train_prediction)

[22.76688486 17.355845   21.84600341 14.9043402  21.4211498  19.04339061
 17.82669793  8.63309959 10.34299504 10.18788798 13.76570978 17.37245117
 18.86581708 18.07589513  9.28835592 15.61720283  8.77997948  5.19438608
  7.69273875 24.95986434 21.11698767 20.22168846 11.91217026 23.6098494
 21.34638726 10.83353992 20.81370719  7.0851864   5.32616384 10.95816394
 13.4573139   9.40982282 18.56500035 11.76869768 11.11245621  7.27223836
  5.94786874  9.67731873 15.98472636 21.77371257 23.11010791 23.79543162
 15.86890842 14.73870421 19.40784082 21.29072756 19.56530566 12.98448
 25.01152362 15.44113132 19.56686091  9.04971105 14.29235532 20.21274455
 14.13700703 23.72963105 17.09092701 24.28494438 19.22259634 17.21730867
 13.72518251  8.96183217 19.25785378  9.80525768 22.31587633 12.17741687
 18.22377314 20.73518572 12.28585382 17.87086326  6.31483819 16.38309437
 15.18858198 15.27168768 18.87684823 10.92890862 13.04333519 11.43983352
 10.23853413 14.95386909 12.46158401 20.82383685 10.4831686  16.94930229
 24.88140687 10.6024764  12.51393046 12.02946753 23.48841916 18.28510695
 20.49912255  9.13512539  7.89183699 15.15905704 11.59108183 18.76225118
  7.71780954  9.95985826 18.07996981  9.59324814  6.23545988 18.15692671
 15.45580796 10.10604562  7.02781345 15.81437121 12.94852061 17.97761217
 17.04677007 12.32403332  8.84683637 21.55813217 12.48443955  5.93361047
 24.6779917   9.95142797 21.07717914  9.49371268 12.50187762  7.76824812
 15.9621386  20.86421785 11.52904403 20.53606081  7.89115954  6.8348095
 10.56833408 12.18395135 21.08371152 13.72820376 25.01544037 21.36249164
 21.26384777  9.71523176 16.71486252 11.05484109  9.59018479  8.50468433
 15.75800548 21.10301409 16.53022316 13.82508139 13.73810156 20.70334238
 10.77781486 12.63126801 13.25107105 22.09544168 16.46503772 16.91617646
 14.80820853 16.85314664 13.1986582  21.2296923  10.14058409 16.88135424
  6.98250843  9.42395504 20.34989521 18.9887588 ]

In [24]:
r2=model.score(X_train, Y_train)

In [25]:
r2

0.9120706464620405

In [26]:
Prediction_model=[[100,100,100]]

In [27]:
print('Sales of TV, Radio and Newspaper is :', model.predict(Prediction_model))

Sales of TV, Radio and Newspaper is : [20.55873792]